body{
  font-family: 'Exo', sans-serif;
}
a{
  text-decoration: none !important;
  color: #333;
}
ol, ul{
  list-style: none;
  display: inline;
  padding: 0 5px;
}
hr{
  margin-left: 0;
  width: 30%;
  border-color: rgb(214, 214, 214);
  border-width: 5px;
  margin-top: 10px;
  border-radius: 50px;
}
.inline{display: inline;}
.block{display: block;}
li{
  display: inline;
}
.first-content{
  margin-top: 20px;
}
.add-space{
  margin-bottom: 20px;
}
.space-bottom{
  margin-bottom: 30px;
}
.delay-1s{
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.no-padding{
  padding: 0;
}
.primary-color{
  color: #000;
}
.secondary-color{
  color: #555;
}
.sec{
  padding: 10px 20px;
}
.delay-3s{
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}
.delay-5s{
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
}
.delay-7s{
  -webkit-animation-delay: .7s;
  animation-delay: .7s;
}
.delay-9s{
  -webkit-animation-delay: .9s;
  animation-delay: .9s;
}

.delay-12s{
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}
hr.edukasi{border-color: aqua;}
hr.bisnis{border-color: red}
hr.hiburan{border-color: yellow}
hr.komik{border-color: green;}
hr.center-block{
  width: 10%;
  margin-top: -10px;
}

/*header*/
header{
  box-sizing: border-box;
  height: 100vh;
  padding: 30px 50px;
  margin-top: 20px;
  background: #f0f0f0;
}
.jumbotron{
  background: #f0f0f0;
}
header h1{
  font-family: 'diavlo';
  font-size: 46px;
  margin-bottom: 10px;
  padding: 0;
  padding-right: 10px;
}
button[name="search"]{
  padding: 10px 55px;
  color: #333;
  background-color: transparent;
  border: 2px solid rgb(165, 149, 222);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
header select.search.form-control{
  background-image: linear-gradient(rgb(165, 149, 222) 80%, rgb(154, 142, 162));
  color: black;
}
button[name="search"]:hover{
  color: white;
  background: rgb(165, 149, 222);
  border: 2px solid rgb(165, 149, 222);
  box-shadow: 0 10px 20px -5px rgba(56, 56, 56, 0.32);
}
header .jumbotron p{
  font-size: 18px;
  line-height: 35px;
}
header .button{
  padding: 3px;
  padding-bottom: 5px;
}
header .button > button{
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 12px;
}
header input.search, header select.search.form-control{
  margin-bottom: 5px;
}
header input.search{border-right: none}
header select.search.form-control{border-left: none}
.center-vertical{
  padding: 75px 10px;
}
.carousel{
  position: relative;
  box-shadow: 0 50px 20px -30px rgba(43, 43, 43, 0.18);
}
.carousel h2{
  margin-bottom: 4px;
}
/*.carousel-caption {
  padding-bottom: 15px;
  margin-left: -8px;
  width: 80%;
}*/
.cover{
  position: absolute;
  left: 0;
  z-index: 999;
  height: 50px;
  width: 30px;
  background: blue;
}
.carousel-indicators {
    bottom: 0;
}
/*header*/

/*kategori*/
section.kategori{
  background: #fff;
  font-size: 35px;
  padding-bottom: 30px;
}
.circle{
  border-radius: 50%;
  background: url(../assets/bg.jpg);
  height: 100px;
  width: 100px;
  border: 6px solid white;
  box-shadow: 0 2px 5px rgba(75, 75, 75, 0.51);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  position: relative;
}
.category:hover .circle{
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
  box-shadow: 0px 20px 5px -10px rgba(75, 75, 75, 0.2);
}
/*endkategori*/

/*sectionobjek*/
.scroller{
  padding: 10px 0;
  overflow-x: auto;
  overflow-y: hidden;
}
.box{
  height: 125px;
  width: 125px;
  position: relative;
  margin-bottom: 40px;
}
.box img{
  height: 100%;
  width: auto;
  display: inline-block;
  margin-right: 10px;
}
/*endsectionobjekt*/

/*Navbar*/
nav#top-bar{
  background: #fff;
  background-size: cover;
  padding-left: 15px;
  padding-right: 15px;
}
nav#top-bar .search{
  padding-left: 190px;
}
nav#top-bar input{
  width: 700px;
}
nav#top-bar li > a{
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
nav#top-bar li > a:hover{
  background-color: rgba(200, 200, 200, 0.1);
  padding-left: 20px;
  padding-right: 20px;
  color: #eee;
}
/*Endnavbar*/

/*Sign up*/
.contact{
	padding:1em 0 3em;
}
.text-box input,.textarea textarea,
.text-box select.form-control{
	border: 2px solid #E5E5E5;
	width: 100%;
	padding: 0.85em;
	border-radius: 0.3em;
	margin-bottom: 1.5em;
	color:#858585;
	transition: border-color 0.3s;
	-o-transition: border-color 0.3s;
	-ms-transition: border-color 0.3s;
	-moz-transition: border-color 0.3s;
	-webkit-transition: border-color 0.3s;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	outline:none;
}
.text-box select.form-control{
  height: 47px;
  border: 2px solid #E5E5E5;
  background-image: linear-gradient(#ffe 70%, rgba(196, 196, 196,.5));
}
.text-box input:hover,
.textarea textarea:hover,
.text-box select.form-control:hover,
.text-box input:focus,
.textarea textarea:focus,
.text-box select.form-control:focus{
	border-color: rgba(231, 76, 60, 0.55);
}
.contact h4{
	color: #666;
	font-size: 2.5em;
	font-weight: 300;
	text-align:center;
}
.contact-head{
	color: #858585;
	font-size: 0.96em;
	line-height: 1.5em;
	text-align: center;
	width: 60%;
	margin: 0 auto;
	padding: 0.8em 0 1em;
}
.btn-red-lg{
	background: #E74C3C 17px 21px;
	border: 1px solid #E74C3C;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	font-size: 1.2em;
	padding: 1em 2em;
	margin: 0 auto;
	display: inherit;
}
.btn-red-lg:hover,.btn-red-lg:focus{
	background: #D34738 17px 21px;
	border:1px solid #D34738;
}
section.contact > div.container.well.well-lg{
  padding: 30px 100px;
}
/*End of signUp*/

/*footer*/
footer{
  border-top: 1px solid rgb(173, 173, 173);
	text-align:center;
  padding: 10px 0;
  background: #fff;
  background-size: cover;
}
footer p{
	color: #858585;
	font-size: 0.96em;
	line-height: 1.5em;
	text-align: center;
}
footer span,footer a{
	color:#E74C3C;
}
footer a{
	margin:0 0.2em;
	text-decoration:none;
}
footer a:hover{
	color: #858585;
}
/*endoffooter*/
