@media screen and (max-width:992px){
  h1{
    font-size: 55px;
  }
  h2{
    font-size: 40px;
  }
  h3{
    font-size: 33px;
  }
  h4{
    font-size: 30px;
  }
  p{
    font-size: 28px;
  }
  small{
    font-size: 18px;
  }
  footer section.darklight h2{
    font-size: 20px;
  }
  .panelkiri{
    border: none;
    padding: 0;
  }
  footer a{
    font-size: 13px;
  }
  .featured{
    margin: 0;
    padding-left: 0;
  }
  .no-page-padding{
    margin: 0;
    padding: 0;
  }
}
@media screen and (max-width:768px) {
  .cover{
    margin: 0;
    padding: 0;
    padding-top: 4em;
  }
  header{
    height: 80vh;
  }
  .darklight{
    display: none;
  }
  .offer button{
    width: 10em;
    padding: 1em;
    box-shadow: 0 2px 2px #444;
    height: 4em;
    font-size: 20px;
    font-weight: bold;
  }
  .promoted, .featured{
    padding-right: 20px;
  }
  .kategori{
    width: 30%;
    display: table-cell;
    padding-right: 20px;
  }
  .promoted{
    width: 65%;
    display: table-cell;
  }
}

@media screen and (max-width:480px) {
  .media img.media-object{
    transform-origin: center;
  }
  p{
    font-size: 15px;
  }
  header div.row.first-content{
    margin: 0;
    padding: 0;
  }
  .kategori, .promoted{
    display: block;
    width: 100%;
    padding: 0;
  }
  header{
    height: 80vh;
  }
  .offer{
    line-height: 20px;
  }
  .offer h4{
    padding-right: 15px;
    font-size: 1em;
    line-height: 23px;
    margin-bottom: 0;
  }
  .offer small{
    font-size: .8em;
  }
  .offer button{
    width: 95px;
    padding: 2px;
    box-shadow: 0 2px 2px #444;
    height: 50px;
    font-size: 14px;
    font-weight: bold;
  }
  header .button{
    display: none;
  }
  .sosmed{
    display: none;
  }
  .scroll-page{
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding-bottom: 20px;
  }
  .scroll-page a{
    display: inline-block;
    width: 80%;
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid #eee;
  }
  .scroll-page a:last-child{
    border: none;
  }
  .scroll-page a .media-object{
    max-height: 70px;
  }
  .scroll-page .media-body.garisbawah{
    border: 0;
    padding: 0;
  }
  .featured{
    padding: 0;
  }
  .featured .media-left{
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: .6em;
    height: 10em;
  }
  .featured .media-object{
    display: inline-block;
    height: 100%;
    width: auto !important;
  }
  .featured .media .navbody{
    display: none;
  }
}
@media screen and (max-width:320px) {
  h1{
    font-size: 40px;
  }
  h2{
    font-size: 25px;
  }
  h3{
    font-size: 22px;
  }
  h4{
    font-size: 18px;
  }
  p{
    font-size: 12px;
  }
  small{
    font-size: 10px;
  }
  .offer h4{
    padding-right: 10px;
    font-size: .8em;
    line-height: 1.5em;
    margin-bottom: 0;
  }
  .offer small{
    font-size: .6em;
  }
  .offer button{
    width: 60px;
    padding: 2px;
    height: 30px;
    font-size: 8px;
    font-weight: bold;
  }
  .text-center-page{
    text-align: center;
  }
  .promoted .media{
    padding-top: 10px;
  }
  .promoted .media p{
    margin-bottom: 0;
  }
  .featured .media{
    padding-left: 0px;
    padding-top: 3px;
  }
  .featured img.media-object{
    width: 70px;
    max-height: 95px;
  }
}
